@use "sass:color";

$color: #fbfbfb;
$color2: #181818;
$color3: #e7e7e1;

$select: #98948a;

.form {

}

.form__label {
  display: block;

  margin-bottom: 10px;
}

.form__buttons-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
